@import "../styles.scss";

mat-toolbar {
    background: rgba(black, 0.2)  !important;
    position: sticky;  

    #name {
        font-size: 2rem;
        margin: 0 10px;
    }

    .title {
        margin-left: 10%;
    }

    .sobre {
        margin-right: 10%;
        margin-left: auto;

        span {
            font-size: 1.3rem;
        }
    }

    .loggedInSpan {
        margin-left: auto;
    }
}

