<div fxFlex id="minhas-avaliacoes-container">

    <mat-accordion *ngIf="avaliacoes">

        <mat-expansion-panel *ngFor="let avaliacao of avaliacoes">
            <mat-expansion-panel-header collapsedHeight="100px" expandedHeight="100px">
                <mat-panel-title>
                    <img src="../../assets/images/img_place_1.jpg" alt="imagem de local para trabalho">
                </mat-panel-title>
                <mat-panel-description>
                  <span>
                    {{avaliacao.location?.street}}, {{avaliacao.location?.number}}
                    <span *ngIf="avaliacao.location?.complement"> - {{avaliacao.location?.complement}}</span>, {{avaliacao.location?.city}}
                  </span>
                  <span>{{avaliacao.location?.ratingsCount}} 
                    <span *ngIf="avaliacao.location?.ratingsCount > 1">Avaliações</span>
                    <span *ngIf="!avaliacao.location || !avaliacao.location?.ratingsCount || avaliacao.location?.ratingsCount < 2">Avaliação</span>
                  </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
        
            <ng-template matExpansionPanelContent collapsedHeight="200px" expandedHeight="300px">
                Some deferred content
            </ng-template>
        
        </mat-expansion-panel>
    </mat-accordion>
</div>
